{% extends 'adminlte/base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load ractive_tags %}

{% block title %}PSIPRED Workbench{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if staging %}{# Production should also use this unqualified links #}
        <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/ionicons.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
        <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/biod3.css' %}" rel="stylesheet" type="text/css" />
        <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    {% else %}
        <link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/biod3.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    {% endif %}
{% endblock %}

{% block body_class %}
    skin-blue-light
{% endblock %}

{% block content_header %} {# remove header region, could add beta site info #}
{% endblock %}

{% block content %}{% endblock content%}

{% block javascript %}
    {# Load javascript #}
    {% if staging %}{# Production should also use these unqualified links #}
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jquery.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/app.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/popper.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive-events-tap.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive-transitions-slide.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/biod3.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/clipboard.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jszip.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/FileSaver.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/msa.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/konami_code.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/dataTables.bootstrap.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jquery.slimscroll.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/fastclick.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/psipred.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/3Dmol-nojquery.js' %}"></script>
    {% else %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/app.min.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/ractive.min.js' %}"></script>
        <script src="{% static 'js/ractive-events-tap.js' %}"></script>
        <script src="{% static 'js/ractive-transitions-slide.js' %}"></script>
        <script src="{% static 'js/biod3.js' %}"></script>
        <script src="{% static 'js/clipboard.min.js' %}"></script>
        <script src="{% static 'js/jszip.min.js' %}"></script>
        <script src="{% static 'js/FileSaver.min.js' %}"></script>
        <script src="{% static 'js/msa.min.js' %}"></script>
        <script src="{% static 'js/konami_code.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'js/fastclick.js' %}"></script>
        <script src="{% static 'js/psipred.js' %}"></script>
        <script src="{% static 'js/3Dmol-nojquery.js' %}"></script>
    {% endif %}
{% endblock %}
