{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>PSIPRED Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS #}
        {% bootstrap_css %}
        <link href="{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body>
      <nav id="psipredNavbar" class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar">This</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PSIPRED SERVER</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="" target="_blank">Home</a></li>
                  <li><a href="" target="_blank">About</a></li>
                  <li><a href="" target="_blank">Contact</a></li>
              </ul>
          </div>

          </div>
      </nav>

      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}

      <div id="psipred_site" class="container">

        <div class="row">
            <div class="col-sm-1"><!--Column left--></div>
                <div class="col-sm-10">

                {% block content %}{% endblock content %}

                </div>
            <div class="col-sm-1"><!--Column right--></div>
        </div>
        
      </div>
    {# Load javascript #}
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
    <script src='{% static 'js/ractive-events-tap.js' %}'></script>
    <script src='{% static 'js/ractive-transitions-slide.js' %}'></script>
    <script src="{% static 'js/psipred.js' %}"></script>

  </body>

</html>
