{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>

<!--
colours
Dark Blue: #173958
Contrast Blue: #2e679c
Salmon: #e67986
Purple: #7d50bf
mustard: #bfaf40
teal:  #40a1bf
burnt orange : #bf5e40
Green : #40bf51
Red : #bf4440
-->
<html>

    <head>
        <meta charset="utf-8">
        <title>PSIPRED Server: Beta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Load the tag library #}

        {# Load CSS #}
        {% if staging %}{# Production shouls also use this unqualified links #}
            <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
            <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/biod3.css' %}" rel="stylesheet" type="text/css" />
        {% else %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'css/biod3.css' %}" rel="stylesheet" type="text/css" />
        {% endif %}
    </head>

    <body id="body">
      <nav id="psipredNavbar" class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar">This</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" onClick="window.location.reload();return false;" >PSIPRED SERVER: <div class="red_text">Beta</div></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#" onClick="window.location.reload();return false;" target="_blank">Home</a></li>
                  <li><a href="http://bioinf.cs.ucl.ac.uk/psipred/" target="_blank">Main PSIPRED</a></li>
              </ul>
          </div>

          </div>
      </nav>

      {# Display django.contrib.messages as Bootstrap alerts #}
      {% bootstrap_messages %}
      {% if staging or debug %}
        <div class="row">
            <div class="col-sm-1"><!--Column left--></div>
                <div class="col-sm-10">

                <div style="color:red"><p>This is the new PSIPRED beta server. This service shows
                work in progress for our new service. Please feel free to
                test the new service. We welcome any feedback and feature requests
                to <a href="mailto:psipred@cs.ucl.ac.uk">psipred@cs.ucl.ac.uk</a>.</p>

                <p>Please note the service is currently running test versions of
                the underlying databases and prediction are not accurate.
                Return to our main site for accurate predictions.<br />
                <a href="http://bioinf.cs.ucl.ac.uk/psipred/">http://bioinf.cs.ucl.ac.uk/psipred/</a></p><hr /></div>

                </div>
            <div class="col-sm-1"><!--Column right--></div>
        </div>
      {% endif %}

      <div id="psipred_site" class="container">

        <div class="row">
            <div class="col-sm-1"><!--Column left--></div>
                <div class="col-sm-10">

                {% block content %}{% endblock content %}

                </div>
            <div class="col-sm-1"><!--Column right--></div>
        </div>

      </div>
    {# Load javascript #}
    {% if staging %}{# Production shouls also use this unqualified links #}
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jquery-2.2.0.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/bootstrap.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive.min.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive-events-tap.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive-transitions-slide.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/psipred.js' %}"></script>
        <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/biod3.js' %}"></script>
    {% else %}
        <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/ractive.min.js' %}"></script>
        <script src="{% static 'js/ractive-events-tap.js' %}"></script>
        <script src="{% static 'js/ractive-transitions-slide.js' %}"></script>
        <script src="{% static 'js/biod3.js' %}"></script>
        <script src="{% static 'js/psipred.js' %}"></script>
    {% endif %}

  </body>

</html>
