{% load ractive_tags %}
{% load staticfiles %}
{% load bootstrap3 %}
<br />

<form name="main_form" id="main_form" method="Post" class="form" intro="slide" outro="slide" on-submit="submit">
{% csrf_token %}
{% templatetag openvariable %}#if sequence_form_visible === 1 {% templatetag closevariable %}
<div class="form-group">
    <table class="full-width-table">
{% for field in form %}
    {% if "PSIPRED 4.0" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "DISOPRED3" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
    {% if "MEMSAT-SVM" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "pGenTHREADER" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
        <tr class="spacer"></tr>
    {% endif %}
    {% if "MetaPSICOV" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "MEMPACK" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
    {% if "GenTHREADER (Rapid Fold Recognition)" == field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "DomPred" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
    {% if "pDomTHREADER" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "Bioserf 2.0" in field.label %}
        <td>
        {{ field.errors }}
        <!--{{ field }}--> <i style="color:red" class="fa fa-times"></i>&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
    {% if "Domserf 2.1" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "FFPred 3" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
{% endfor %}
    <tr><td colspan=2><a class="form-link" href="http://bioinf.cs.ucl.ac.uk/index.php?id=5399">Help...</a><br /></td></tr>
    </table>
</div>
<div class="col-sm-12 form-header">
  <div class='row form-header-row'>
    <h5 class="float-header">Submission details</h5>
  </div>
</div>

<br />
<br />
<p class="form_error">{% ractivehtmltag "form_error" %}</p>
{% for field in form %}
    {% if "PSIPRED" in field.label or "DISOPRED" in field.label or "MEMSAT-SVM" in field.label or "pGenTHREADER" in field.label or "MetaPSICOV" in field.label or "Generate TDB" in field.label or "MEMEMBED" in field.label or "HSPred" in field.label or "Metsite" in field.label or "MetaPSICOV" in field.label or "FFPred 3" in field.label or "Domserf 2.1" in field.label or "Bioserf 2.0" in field.label or "pDomTHREADER" in field.label or "DomPred" in field.label or "GenTHREADER (Rapid Fold Recognition)" == field.label or "MEMPACK" in field.label or "Metsite" in field.label or "HSPred" in field.label or "MEMEMBED" in field.label or "Generate TDB" in field.label %}
    {% elif "Protein Sequence" in field.label %}
      <div class="form-group">
        {% bootstrap_field field %}
      </div>
    <a class="form-link" href="http://bioinf.cs.ucl.ac.uk/index.php?id=5399">Help...</a><br />
    If you wish to test these services follow this link to retrieve <a class="form-link" href="http://www.uniprot.org/uniprot/B0R5N9.fasta">a test fasta sequence</a>.<br /><br />
    {% else %}
    <div class="form-group">
      {% bootstrap_field field %}
    </div>
    {% endif %}
{% endfor %}
{% templatetag openvariable %}/if{% templatetag closevariable %}

{% templatetag openvariable %}#if structure_form_visible === 1 {% templatetag closevariable %}
<div class="form-group">
    <table class="full-width-table">
{% for field in form %}
    {% if "Metsite" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "HSPred" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
    {% if "MEMEMBED" in field.label %}
        <tr>
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
    {% endif %}
    {% if "Generate TDB" in field.label %}
        <td>
        {{ field.errors }}
        {{ field }}&nbsp;{{ field.label_tag }}
        </td>
        </tr>
    {% endif %}
{% endfor %}
    <tr><td colspan=2><a class="form-link" href="http://bioinf.cs.ucl.ac.uk/index.php?id=5399">Help...</a><br /></td></tr>
    </table>
</div>
<div class="col-sm-12 form-header-structure">
  <div class='row form-header-row'>
    <h5 class="float-header">Submission details</h5>
  </div>
</div>
<p class="form_error">{% ractivehtmltag "form_error" %}</p>

<br /><br /><br />
Select PDB file<br />
<input type=file  name="pdbFile" id="pdbFile" /><br /><br />
<a class="form-link" href="http://bioinf.cs.ucl.ac.uk/index.php?id=5399">Help...</a><br />
If you wish to Metsite or HSPred follow this link to retrieve <a class="form-link" href="http://www.rcsb.org/pdb/download/downloadFile.do?fileFormat=pdb&compression=NO&structureId=1IAR">a test pdb file.</a><br /><br />
{% for field in form %}
    {% if "PSIPRED" in field.label or "DISOPRED" in field.label or "MEMSAT-SVM" in field.label or "pGenTHREADER" in field.label or "MetaPSICOV" in field.label or "Generate TDB" in field.label or "MEMEMBED" in field.label or "HSPred" in field.label or "Metsite" in field.label or "MetaPSICOV" in field.label or "FFPred 3" in field.label or "Domserf 2.1" in field.label or "Bioserf 2.0" in field.label or "pDomTHREADER" in field.label or "DomPred" in field.label or "GenTHREADER (Rapid Fold Recognition)" == field.label or "MEMPACK" in field.label or "Metsite" in field.label or "HSPred" in field.label or "MEMEMBED" in field.label or "Generate TDB" in field.label or 'Protein Sequence' in field.label %}
    {% else %}
    <div class="form-group">
      {% bootstrap_field field %}
    </div>
      {% endif %}
{% endfor %}

{% templatetag openvariable %}/if{% templatetag closevariable %}
{% if suspend %}
    <h2 style="color: red;">{{ suspend_message }}</h2>
{% else %}
    {% buttons %}
         <input class="btn btn-danger" type="reset" value="Reset" />
         <input value="Submit" type="submit" class="btn btn-primary" />
    {% endbuttons %}
{% endif %}
</form>
