{% load ractive_tags %}
{% load staticfiles %}
{% load bootstrap3 %}
<br />
<form method="Post" class="form" intro="slide" outro="slide" on-submit="resubmit">
{% csrf_token %}
  <br />
  <h5>Select subsequence region</h5>
  Start Coordinate <input type="text" id="start_coord" class="sequence_coord" value="{% ractivetag "subsequence_start" %}"> - Stop Coordinate <input id="stop_coord" type="text" class="sequence_coord" value="{% ractivetag "subsequence_stop" %}">
  <div class="form-group">
    <div>
      <br />
      <h5>Choose prediction methods</h5>
      <table class="full-width-table">
      <tr>
      <td>
        <input id="id_psipred_job" name="psipred_job" value="psipred_job" type="checkbox" checked="{% ractivetag "psipred_checked" %}">
        <label for="id_psipred_job">PSIPRED 4.0</label>
      </td>
      <td>
        <input id="id_disopred_job" name="disopred_job" value="disopred_job" type="checkbox" checked="{% ractivetag "disopred_checked" %}">
        <label for="id_disopred_job">DISOPRED3</label>
      </td>
      </tr>

      <tr>
      <td>
      <input id="id_memsat_job" name="memsat_job" value="memsat_job" type="checkbox" checked="{% ractivetag "memsat_checked" %}">
      <label for="id_memsat_job">MEMSAT-SVM</label>
      </td>
      <td>
      <input id="id_pgenthreader_job" name="pgenthreader_job" value="pgenthreader_job" type="checkbox" checked="{% ractivetag "pgenthreader_checked" %}">
      <label for="id_pgenthreader_job">pGenTHREADER</label>
      </td>
      </tr>

      <tr>
      <td>
        <input id="id_metapsicov_job" name="metapsicov_job" value="metapsicov_job" type="checkbox" checked="{% ractivetag "metapsicov_checked" %}">
        <label for="id_metapsicov_job">MetaPSICOV 2.0</label>
      </td>
      <td>
        <input id="id_mempack_job" name="mempack_job" value="mempack_job" type="checkbox" checked="{% ractivetag "mempack_checked" %}">
        <label for="id_mempack_job">MEMPACK</label>
      </td>
      </tr>

      <tr>
      <td>
      <input id="id_genthreader_job" name="genthreader_job" value="genthreader_job" type="checkbox" checked="{% ractivetag "genthreader_checked" %}">
      <label for="id_genthreader_job">GenTHREADER</label>
      </td>
      <td>
      <input id="id_dompred_job" name="dompred_job" value="dompred_job" type="checkbox" checked="{% ractivetag "dompred_checked" %}">
      <label for="id_dompred_job">DomPred</label>
      </td>
      </tr>

      <tr>
      <td>
      <input id="id_pdomthreader_job" name="pdomthreader_job" value="pdomthreader_job" type="checkbox" checked="{% ractivetag "pdomthreader_checked" %}">
      <label for="id_pdomthreader_job">pDomTHREADER</label>
      </td>
      <td>
      <!--<i style="color:red" class="fa fa-times"></i>-->
      <input id="id_bioserf_job" name="bioserf_job" value="bioserf_job" type="checkbox" checked="{% ractivetag "bioserf_checked" %}">
      <label for="id_bioserf_job">Bioserf 2.0</label>
      </td>
      </tr>

      <tr>
      <td>
      <input id="id_domserf_job" name="domserf_job" value="domserf_job" type="checkbox" checked="{% ractivetag "domserf_checked" %}">
      <label for="id_domserf_job">Domserf 2.1</label>
      </td>
      <td>
      <input id="id_ffpred_job" name="ffpred_job" value="ffpred_job" type="checkbox" checked="{% ractivetag "ffpred_checked" %}">
      <label for="id_ffpred_job">FFPred 3</label>
      </td>
      </tr>

      </table>
      <h5>Bioserf/Domserf MODELLER KEY</h5>
      <input type="text" id="bioserf_domserf_modeller_key" name="bioserf_domserf_modeller_key">
    </div>
  </div>
  <div class="text-right">
    <input value="Resubmit" type="submit" class="btn btn-primary" />
  </div>
  <br />
</form>
