<<<<<<< HEAD
.heatmap {
  stroke: black;
  stroke-width: 1;
}
.ss {
  stroke: white;
  stroke-width: 1;
}

.annotation_text {
  font-family: sans-serif
}

.annotation_cell .ss {
  stroke: black;
  stroke-width: 1;
}
.annotation_cell .clustal {
  stroke: black;
  stroke-width: 1;
}

.annotation_cell .lesk {
  stroke: black;
  stroke-width: 1;
}

.clustal {
  stroke: white;
  stroke-width: 1;
}

.lesk {
  stroke: white;
  stroke-width: 1;
}
.taylor {
  stroke: white;
  stroke-width: 1;
}

rect:hover {
  fill: brown;
}

text:hover {
  fill: white;
}

text {
  fill: black;
}


=======
.sequence_plot rect {
  fill: white;
  stroke: white;
  stroke-width: 2;
}

.sequence_plot rect:hover {
  fill: brown;
}

.sequence_plot text {
  fill: black;
  text-anchor: end;
}

>>>>>>> 1a640f3696fef3ed4f4d349f77082e9df5161ce7
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path{
  display: none;
}
.x.axis path {
  display: none;
}
