p
{
  font-size: 14px;
}
html{
 font-size: 16px !important;
}

body
{
  width: 100%;
  font-size: 16px;
}

hr {  color: grey !important;
      border: 1px dashed grey !important;
      height: 0px !important;
      margin: 0.3em;
      width: 50%;
}

.filter_table{
  width: auto;
  margin-right: 0px;
  margin-left: auto;
}

.alnright{text-align: right;}

.helixy{
    position: fixed;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.psipred_title{
  color: white;
}

.logo_adjust{
  font-size-adjust: 0.8;
}
.box-body
{
  overflow: auto;
}
.info-box-number{
  overflow: auto;
}

.job_info{
  height: 45px !important;
  min-height: 45px !important;
}

.job_info_icon{
  font-size: 22px !important;
  vertical-align: 130%;
}

.job_info_text{
  font-size: 20px;
}

.info-box-content{
    min-width: 500px;
}
.job_info_text_left{
  display: inline-block;
}
.name_text{
  position:relative;
  top: 6px;
}
.job_info_text_right{
  display: inline-block;
}

.msa_legend_cell
{
  width: 2em;
}

#stop_coord
{
   width: 5em;
}
#start_coord
{
   width: 5em;
}
#flip {
-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
display: inline-block;
position: relative;
top: 1px;
left: 1px;
}

.full-width-table
{
  width: 100%;
}

.input_table {
  padding-left:20%;
}

td{
    width: 50%;
    align:top;-
    word-wrap: break-word;
}

.form-link
{
    color: #972646;
}
.spacer
{
  height: 20px;
}

.form-header
{
  background-color: #173958;
  color: #ffffff;
  display: table;
}

.form-header-structure
{
  background-color: #581717;
  color: #ffffff;
  display: table;
}

.form-header-row
{
  margin-left: auto;
  margin-right: auto;
}

.float-header
{
  display: table-cell;
  vertical-align: middle;
  height: 25px;
  left: 10px;
  position: relative;
}

.mol-container {
  width: 400px;
  height: 0px;
  position: relative;
}

.modeller-key{
  visibility: hidden;
}

.gen-table{
  width: 100%;
}

.error
{
  color: #ff0000;
}

.center
{
  align: center;
  text-align: center;
}

.ffpred-table
{
  table-layout: fixed;
}

#hspred_initial_model
{
  display: inline-block;
}
#hspred_second_model
{
  display: inline-block;
}


#retrievalLink
{
  min-height: 34px;
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.copyButton {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}


:not(output):-moz-ui-invalid {
    box-shadow: none;
}
input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow: none;
}

.sequence_coord
{
  width: 25px;
}

.form_error
{
  color: red;
}

.results
{
  width: 100%;
  padding-left: 15px;
  padding-right: 0px;
}

.waiting
{
 text-align: center;
}

.waiting_icon
{
 text-align: center;
}
.sequence_plot
{
  text-align: center;
  width: 100%;
}

.box-body
{
  width: 100%;
}
.title
{
  text-align: left;
}
#selector
{
  text-align: left;
}

.results_panel
{
  border-width: 0.1em;
  border-color: #b8b8b8;
  padding: 0.5em;
}

.psipred_cartoon
{
  height: 100%;
}

.red_text
{
  color: #bf4440;
  display: inline-block;
  font-weight: bold;
}

.guess
{
  background-color: #ff0000;
}
.low
{
  background-color: #f00000;
}
.medium
{
  background-color: #ffaa00;
}
.high
{
  background-color: #00f000;
}
.cert
{
  background-color: #00f000;
}
.pdb_helix
{
  background-color: #e353e3;
}
.predicted_helix
{
  background-color: #96adc8;
}
.pdb_strand
{
  background-color: #e5dd55;
}
.predicted_strand
{
  background-color: #d7ffab;
}
.ligand
{
  background-color: #ff7373;
}

.resubmit_colour
{
  background-color: #f8f8f8;
}

.notsafe
{
  background: #ffdddd;
}
.signifkey
{
 font-size: 0.8em;
 border: 1px solid #dddddd;
}
.signif10p
{
 border:     1px solid #cccccc;
 background: rgb(255,220,220);
}
.signif10n
{
 border:     1px solid #cccccc;
 background: rgb(220,220,255);
}
.signif5p
{
  border:     1px solid #cccccc;
  background: rgb(255,150,150);
}

.signif2p
{
 border:     1px solid #cccccc;
 background:  rgb(255,100,100);
}

.signif1p
{
 border:     1px solid #cccccc;
 background: red;
}

.signif5n
{
  border:     1px solid #cccccc;
  background: rgb(150,150,255);
}

.signif2n
{
 border:     1px solid #cccccc;
 background: rgb(80,80,255);
 color: #eeeeee;
}

.signif1n
{
 background: blue;
 border:     1px solid #cccccc;
 color:      #eeeeee;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}
