.form_error
{
  color: red;
}

.results
{
  width: 100%;
  padding-left: 15px;
  padding-right: 0px;
}
.waiting_icon
{
 text-align: center;
}
.sequence_plot
{
  text-align: center;
}
.title
{
  text-align: left;
}
#selector
{
  text-align: left;
}

.results_panel
{
  /*border-style: solid;*/
  border-width: 0.0em;
  border-color: #b8b8b8;
  border-radius: 4px;
  padding: 0.5em;
}

.red_text
{
  color: #bf4440;
  display: inline-block;
  font-weight: bold;
}


/* Bootstrap Changes */
  .navbar-default {
    background-color: #173958;
    border-color: #2e679c;
  }
  .navbar-default .navbar-brand {
    color: #b8b8b8;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #b8b8b8;
  }
  .navbar-default .navbar-nav > li > a {
    color: #b8b8b8;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #173958;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #b8b8b8;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #2e679c;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #2e679c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2e679c;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2e679c;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2e679c;
  }
  .navbar-default .navbar-toggle {
    border-color: #2e679c;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #2e679c;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #b8b8b8;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #b8b8b8;
  }
  .navbar-default .navbar-link {
    color: #b8b8b8;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #b8b8b8;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #2e679c;
    }
  }
