{% load bootstrap3 %}
{% load staticfiles %}
{% load ractive_tags %}

<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type='image/x-icon' href="/favicon.ico">
    <meta name="description" content="Simple BioJS example" />
      {% if staging %}{# Production should also use this unqualified links #}
          <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
          <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
          <link href="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'css/biod3.css' %}" rel="stylesheet" type="text/css" />
      {% else %}
          <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
          <link href="{% static 'css/psipred.css' %}" rel="stylesheet" type="text/css" />
          <link href="{% static 'css/biod3.css' %}" rel="stylesheet" type="text/css" />
      {% endif %}
      <style>
        .mol-container {
          width: 600px;
          height: 600px;
          position: relative;
        }
      </style>
</head>

<body id="body">
  <div class="container">

    <div class="row">
      <div class="col-sm-7 col-sm-offset-5">
          <div id="container-01" class="mol-container"></div>
      </div>
    </div>

    <div id="model_site" class="container">
    <script id='model_template' type='text/ractive'>
    <div class="row">
      <div class="col-sm-7 col-sm-offset-5">
        <div>
          {% ractivehtmltag "building_message" %}
        </div>
      </div>
    </div>
    </script>
    </div>

  </div> <!-- CONTAINER END -->

  {# Load javascript #}
  {% if staging %}{# Production should also use these unqualified links #}
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jquery.min.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/popper.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/bootstrap.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive.min.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive-events-tap.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/ractive-transitions-slide.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/jszip.min.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/3Dmol-min.js' %}"></script>
      <script src="http://bioinf.cs.ucl.ac.uk/psipred_beta{% static 'js/model.js' %}"></script>

  {% else %}
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/ractive.min.js' %}"></script>
      <script src="{% static 'js/ractive-events-tap.js' %}"></script>
      <script src="{% static 'js/ractive-transitions-slide.js' %}"></script>
      <script src="{% static 'js/jszip.min.js' %}"></script>
      <script src="{% static 'js/3Dmol-min.js' %}"></script>
      <script src="{% static 'js/model.js' %}"></script>

  {% endif %}
</body>
</html>
